<nav>
  <div class = "cstm-nav-left">
    <a style="font-family: cursive;" class="logo">Bait N Tackle</a>
   <!-- <a routerLink="/users/orders" routerLinkActive="active">MyOrder</a> -->
  </div>
  <div class="cstm-nav-right">
    <a routerLink="/users/homepage" routerLinkActive="active">Home <i class='fas fa-home'></i></a>
    <a routerLink="/users/cart" routerLinkActive="active">Cart   <i class="fas fa-fish"></i></a>
    <a (click)="executeLogOut()" style="cursor: pointer;" >Logout <i class="fas fa-power-off"></i></a>
  </div>
</nav>

