<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   </head>
<body>
   <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one"> DLF IT Park SEZ</div>
          <div class="text-two">Chennai, Tamil Nadu 600089</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+91 1234567890</div>
          <div class="text-two">+91 9876543210</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">B1ja02@gmail.com</div>
          <div class="text-two">b1jao2@Outlook.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have any quries related to our page or if u wish to post your Reviews, you can share here,Top 3  best Reviews will be posted in our Main page. It's Our pleasure to have you as our Customer...</p>
      
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your Name" required>
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your Email" required>
        </div>
        <div class="input-box message-box">
            <input type="text" placeholder="Enter your Reviews/Queries here..." required>
        </div> 
        <div class="button">
          <input type="button" value="Send Now" >
        </div>
        <br>
        <br>
        <div class="button1">
          <input  (click)="back()" type="button" value="Back" >
        </div>
      </form>
      
    </div>
    </div>
  </div>
</body>
</html>
