<app-nav-bar> </app-nav-bar>

<div class="cstm-dashboard-heading">
    <h4 style="font-family: cursive;" >Deals of the Day <i class="fa fa-shopping-bag"></i></h4>
</div>

<div class="cstm-product-items container-fluid px-4" style="padding-bottom: 5rem;">

    <div class="row justify-content-center gx-5">
        <div
            class="card col-lg-6 col-md-4 col-sm-6 col-xs-12"
            style="width: 20rem;"
            *ngFor="let product of productsInformation; let i = index"
        >
            
        <div class="cstm-image-container">
                <img
                    class="card-img-top cstm-img-resize"
                    src={{product.productImageUrl}}
                    alt="Card image cap"
                >
            </div>
            <div class="card-body">
                <h5 class="card-title">{{product.productName}}</h5>
                <p
                    class="card-text"
                    style="margin-bottom: 0;"
                >
                    Product Price: {{product.price}} ₹ 
                </p>
        
                <p
                    class="card-text"
                    style="margin-bottom: 0;"
                >
                    Product Stock: {{product.stockQuantity}} nos
                </p>
                
                <button
                    (click)="addProductToCart(userid, product)"
                    class="btn btn-primary"
                    [disabled]="false"
                    style="margin-top: .4rem;"
                >
                    Add to cart
                </button>
            </div>
        </div>
    </div>
</div>