<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!--About Us page starts-->
<section style="background: papayawhip; height: auto; width: auto;">    
<div class="about-section">
     <h1>About Us</h1>
    <p>Hello Customers, This is <span style="color: rgb(0, 238, 255); font-family: cursive;">B1JA02</span> group from Virtusa consulting private limited chennai. As a new developer,
        <br> one of the hardest tasks is to create a successful web developer page that gets the attention of Users,
        <br>we hope we did our part well.<i class="	far fa-smile-wink"></i>
    </p>
  </div>
 <br>
  <h2 style="text-align:center">Our Team <i class="fas fa-heart"></i>  </h2>
  <div class="row">
    <div class="column">       <!--Developer 1-->
      <div class="card">
        <!-- <img src="assets/images/developer2.jpg" style="width:50%; margin-left: 100px; " > -->
        <div class="container">
          <h2>Abirami Sudheer</h2>
          <p class="title">Developer</p>
          <p>A passionate Full-stack web developer .</p>
          <p>abirami@gmail.com</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
  
    <div class="column"><!--Developer 2-->
      <div class="card">
        <!-- <img src="assets/images/developer2.jpg" style="width:50%; margin-left: 100px; " > -->
        <div class="container">
          <h2>Deva Rohinth</h2>
          <p class="title">Developer</p>
          <p>Self-motivated, Ardent-Developer working on Virtusa,chennai.</p>
          <p>rohinth@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="column"><!--Developer 3-->
      <div class="card">
        <!-- <img src="assets/images/developer2.jpg" style="width:50%; margin-left: 100px; " > -->
        <div class="container">
          <h2>Adeeb Shaikh</h2>
          <p class="title">Developer</p>
          <p>Happy to work in Virtusa.Hope we did our job well</p>
          <p>adeeb@gmail.com</p>
        </div>
      </div>
    </div>


  <div class="column"> <!--Developer 4-->
    <div class="card">
      <!-- <img src="assets/images/developer2.jpg" style="width:50%; margin-left: 100px; " > -->
      <div class="container">
        <h2>Rasiga Priya K</h2>
        <p class="title">Developer</p>
        <p>Resourceful and determined developer.</p>
        <p>priya@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column"> <!--Developer 5-->
    <div class="card">
      <!-- <img src="assets/images/developer2.jpg" style="width:50%; margin-left: 100px; " > -->
      <div class="container">
        <h2>Swapna</h2>
        <p class="title">Developer</p>
        <p>Happy and determined developer.</p>
        <p>swapna@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column"> <!--Developer 6-->
    <div class="card">
      <img src="" style="width:100%">
      <div class="container">
        <h2>Umakanth Pendyala</h2>
        <p class="title">Developer</p>
        <p>Enthusiastic developer who's engaged mostly in backend</p>
        <p>umakanth@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column"> <!--Developer 7-->
    <div class="card">
      <img src="" style="width:100%">
      <div class="container">
        <h2>Prasanna Venkatesh Sharmaah</h2>
        <p class="title">Developer</p>
        <p>Enthusiastic developer who's engaged mostly in coding.</p>
        <p>prasanna@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column"> <!--Developer 8-->
    <div class="card">
      <img src="" style="width:100%">
      <div class="container">
        <h2>Muskan Kumari</h2>
        <p class="title">Developer</p>
        <p>Happy and determined developer.</p>
        <p>muskan@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column"> <!--tester 1-->
    <div class="card">
      <img src="" style="width:100%">
      <div class="container">
        <h2>Namrata Sachan</h2>
        <p class="title">Tester</p>
        <p>Happy to be in Testing Unit.</p>
        <p>namratha@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column"> <!--tester 2-->
    <div class="card">
      <img src="" style="width:100%">
      <div class="container">
        <h2>Usha Shree</h2>
        <p class="title">Tester</p>
        <p>Determined Tester  working on virtusa PVT limited.</p>
        <p>usha@gmail.com</p>
      </div>
    </div>
  </div>
  </div>   
  <button class="btnb" (click)="back()" >back</button>  <!--back to home button--> 
</section>

</body>
</html>